.header {
    height: 70px;
    color: #1A1A1A;
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-right: 10px;
}
.input {
    border: none;
    border-radius: 25px;
    padding: 5px 5px;
    font-color: #1A1A1A;
}
.name {
    padding-left: 10px;
    font-size: 2em;
    font-weight: bold;
}
.image{
    height: 60px;
    width: 60px;
    padding-left: 10px;
}
#house1{
    background-color: #FB0012;
}
#house2{
    background-color: #2063DD;
}
#house3{
    background-color: #61D700;
}
#house4{
    background: #E2006F;
}
::-webkit-input-placeholder {
    font-family: 'Bitter', serif;
}
:-moz-placeholder {
    font-family: 'Bitter', serif;
}
::-moz-placeholder {
    font-family: 'Bitter', serif;
}
:-ms-input-placeholder {
    font-family: 'Bitter', serif;
}